@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-regular.woff') format('woff'), url('./fonts/text-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-regular-italic.woff') format('woff'), url('./fonts/text-regular-italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-medium.woff') format('woff'), url('./fonts/text-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-medium-italic.woff') format('woff'), url('./fonts/text-medium-italic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-bold.woff') format('woff'), url('./fonts/text-bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'YS Text';
	src: url('./fonts/text-bold-italic.woff') format('woff'), url('./fonts/text-bold-italic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
}

@font-face {
	font-family: 'YandexSansTextRegular-wght-900';
	src: url('https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff') format('woff');
	font-weight: 900;
}

@font-face {
	font-family: 'YandexSansTextRegular-wght600';
	src: url('https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff') format('woff');
	font-weight: 600;
}
